.navbar {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #698269;
  color: white;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  z-index: 10;
  justify-content: space-between;
}