.container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 18px;
  font-size: 14px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 500px;
  margin-bottom: 10px;
}

.header {
  text-align: center;
  color: #aa5656;
  font-size: 28px;
}

.button_row {
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.button {
  background-color: #aa5656 !important;
  border-color: #aa5656 !important;
}

.button:hover {
  background-color: #b99b6b !important;
  border-color: #b99b6b !important;
}

/* Chrome, Safari, Edge, Opera */
.no_arrows::-webkit-outer-spin-button,
.no_arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no_arrows {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 768px) {
  .button_row {
    flex-direction: column;
  }

  .button_col {
    margin: 5px;
  }
}