.container {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.header {
  align-self: center;
}

.button{
  align-self: center;
}

.text {
  align-self: center;
}